/* Add here all your css styles (customizations) */
.navbar-brand {
	padding-top: 0;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
#intro > div {
	max-height: 100% !important;
	height:100%;
	overflow: visible;
}
body {
	background-color: #fff;
}
.left {
	float: left;
}
.right {
	float: right;
}
#about > div.container.content-lg > div.row > div:nth-child(2) > img {
	margin: 0 auto;
}
#about > div.container.content-lg > div.row > div:nth-child(2) > div:nth-child(2),
#about > div.container.content-lg > div.row > div:nth-child(2) > div:nth-child(3) {
	text-align: center;
}